*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
}

header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #0558EE;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

 button:hover{
    box-shadow: 0px 0px 10px #0558EE;
    transform: scale(1.05);
}

header{
    margin-top: 40px;
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header  a{
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

header .menu-desktop a:hover{
    color: #0558EE;
    transform: scale(1.10);
    letter-spacing: 2px;
}

header nav.menu-desktop ul{
    list-style-type: none;
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
}


.big-box{
    background-color: black;
    opacity: 0.9;
    border-radius: 30px;
    padding: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.input-city{
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 30px;
    font-size: 22px;
    background-color: #7c7c7c2b;
    color: white;
    width: calc(100% - 100px);
}

.button-search{
    border: none;
    outline: none;
    padding: 13px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    cursor: pointer;
    float: right;
}

.img-search{
    width: 39px;
}

.city{
    color: white;
    font-size: 40px;
    font-weight: 300;
}

.box-medium{
    margin-top: 30px;
}

.temp{
    font-size: 30px;
    color: white;
    margin-top: 20px;
}

.box-small{
    display: flex;
    color: white;
    align-items: center;
    margin-top: 20px;
}

.txt-prev{
    color: white;
    margin-left: 20px;
    text-transform: capitalize;
}

.umidade{
    color: white;
    margin-top: 20px;
    font-size: 23px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 4%;
}

footer .flex{
    justify-content: space-between;
}


footer .line-footer p i{
    color :#0558EE;
    font-size: 22px;
    padding: 4px;
}

footer .line-footer p a{
    color: white;
    gap: 10px;
    padding: 15px;
    letter-spacing: 2px;
}

.logo-footer{
    display: none;
}

.borda{
    border-bottom: 2px solid #0558EE;
    padding: 10px;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #0558EE;
    font-size: 25px;
    cursor: pointer;
    margin: 0 10px;
}


@media screen and (max-width: 1020px){

    header{
        margin-top: 40px;
        padding: 40px 4%;
    }

    .logo{
        margin-top: 140px;
    }

    body{
        height: 100vh;
        width: 100%;
        background-repeat: repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("https://source.unsplash.com/1600x900/?landscape");
    }

    .city{
        font-size: 29px;
        font-weight: 300;
    }

    
    .btn-contato button{
        display: none;
    }

    .btn-social{
        text-align: center;
        gap: 30px;
    }

    .menu-desktop{
        display: none;
    }

    .logo{
        align-items: center;
        justify-content: center;
        display: flex;
        width: 50px;
        margin-left: 160px;
    }

    .big-box{
        background-color: black;
        opacity: 0.9;
        border-radius: 30px;
        padding: 20px;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    footer .flex{
        flex-direction: column;
    }

    footer .line-footer{
        text-align: center;
}

}